@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(56, 50, 50);
   color: #fff;
}

.wrapper{
   max-width: 1200px;
   min-height: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.content{
   padding:175px 0px 0px 0px;
}
.chapter__image{
   width: 100%;
}
.chapter:nth-child(even){
   background-color: rgb(78, 112, 78);
}
.chapter:nth-child(even) h2{
  font-style: italic;
}
.chapter:nth-child(odd){
   background-color: rgb(53, 68, 82);
}
.title {
   margin:0px 0px 15px 0px;
}
.nav {
   background-color: rgb(117, 47, 47);
   padding: 10px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
.nav__title{
   font-size: 20px;
   color:#fff;
   margin:0px 0px 5px 0px;
   text-align: center;
}
.nav__list {
   display: flex;
   justify-content: center;
   /* align-items: center; */
}
.nav__list li {
   list-style: none;
   display: flex;
   flex-direction: column;
}
.nav__list > li {
   margin: 0 5px;
   flex:0 1 20%;
}

.nav__list a {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   background-color: rgb(104, 102, 72);
   color: #fff;
   padding: 10px 5px;
   opacity: 0.7;
   transition: opacity 0.2s ease 0s;
   flex: 1 1 auto;
}

.nav__list a:hover{
   opacity: 1;
}

.nav__sublist {
   margin: 5px 0px 0px 0px;
}
.nav__sublist a {
   background-color: rgb(70, 90, 97);
   color: #fff;
}

.up{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(209, 255, 5);
   height: 52px;
   width: 52px;
   border-radius: 50%;
   opacity: 0.7;
   transition: opacity 0.2s ease 0s;
   position: fixed;
   bottom: 100px;
   right: 20px;
}
.up:hover{
   opacity: 1;
}
.footer{
   background-color: rgb(110, 88, 187);
   padding: 20px 0;
}
.footer h2{
   text-align: center;
   margin:0px 0px 15px 0px;
}
.form{
   display: flex;
   justify-content: center;
   align-items: center;
}
.form label{
   margin: 0px 5px 0px 0px;
}
.form__name,
.form__email{
   display: flex;
   align-items: center;
}

.form input{
   height: 40px;
   border-radius: 10px;
   border: 1px solid #000;
   margin: 0px 20px 0px 0px;
   padding: 0 10px;
}
.form button{
   padding: 10px 25px;
   border-radius: 10px;
   cursor: pointer;
   background-color: rgb(38, 190, 152);
   color: #fff;
   font-size: 18px;
   position: relative;
   z-index: 2;
}
.form button::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 0;
   background-color: rgb(56, 92, 83);
   border-radius: 10px;
   transition: all 0.3s ease 0s;
}
.form button:hover::before{
   height: 100%;
}




/* ------------------------------------------------------------------adaptiv------------------------------------------ */
@media (max-width:770px) {
   .nav__list a {
    font-size: 12px;
    padding: 10px 5px;
   }
   .up{
     width: 32px;
     height: 32px;
   }
   .form{
     flex-direction: column;
   }
   .form label{
      margin:0px 0px 5px 0px;
   }
   .form__name,
   .form__email{
      flex-direction: column;
}
   .form input{
     margin:0px 0px 15px 0px;
   }
}
@media (max-width:560px) {
   .nav__list a {
    font-size: 10px;
    padding: 10px 0px;
   }
   .nav__list > li {
      margin: 0 2px;
   }
   .footer{
      padding: 10px 0px;
   }
}
@media (max-width:320px) {
   .nav{
      display: none;
   }
}



